page-home {
    // .ami-heading{
    //     text-align: center;
    //     font-size: 40px;
    //     padding: 40px 0px 20px 0px;
    // }
    .no-of-days{
        text-align: center;
        font-size: 28px;
    }
    .ami-write{
        text-align: center;
        font-size: 23px;
        padding-top: 30px;
    }
    .ami-write1{
        text-align: center;
        font-size: 23px;
    }
    .ami-card{
        margin-top: 25px;
    }
    .ami-btn{
        .button-md{
            height: 7.6rem !important;
            line-height: 2rem !important;
        }
    }
    .card-md{
        background-color: #eee;
    }
}
