page-learn-to-quit {
    // .ami-heading{
    //     text-align: center;
    //     font-size: 35px;
    //     padding: 10px 0px 20px 0px;
    // }
    
    .ami-bottom{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    h1{
        padding: 10px 0px 5px 0px !important;
    }
}
